:root {
    --font-size-score:30vw;
    --font-size-headers: 3em;

    --primary-color: #730030;
    --secondary-color:#FFE34F;
    --tertiary-color:#00EAC0;

    --circle-width:60vw;

    font-family: NerkoOne, Impact, "Courier New", Georgia, "Times New Roman", serif;
    line-height: 1.5;
    font-weight: 400;
    color:rgba(255 255 255 87%);
    font-synthesis: none;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: var(--primary-color);
}

body {
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
}

p{
    margin: 0;
    padding: 0;
}

